{% from "partials/network_badges.html" import history_publication_badges, published_network_logo %}
{% for r in rows %}
<tr>
  <td><b>{{ r.idea_title or '' }}</b><div class="mini">{{ r.idea_id }}</div></td>
  <td><span class="status {{ r.idea_status }}">{{ r.status_label }}</span></td>
  <td>{{ r.subject or '' }}</td>
  <td>{{ r.last_modified }}</td>
  <td>{% if r.created_by_name %}<span class="personCell" title="{{ r.created_by_name }}"><span class="personAvatar">{{ r.created_by_initials }}</span></span>{% else %}<span class="personEmpty">-</span>{% endif %}</td>
  <td>{% if r.published_by_name %}<span class="personCell" title="{{ r.published_by_name }}"><span class="personAvatar">{{ r.published_by_initials }}</span></span>{% else %}<span class="personEmpty">-</span>{% endif %}</td>
  <td>{{ r.media_count }}</td>
  <td>{{ history_publication_badges(r.publications) }}</td>
  <td><div class="actions"><a class="btn light" href="/app/posts/view?request_id={{ r.request_id }}&idea_id={{ r.idea_id }}">{{ t('strat.open') }}</a></div></td>
</tr>
{% endfor %}
